<div class="mt-8 text-gray-500">
  <%= render 'shared/profile/item_with_description',
             title: experience.company,
             subtitle: experience.position,
             start_date: experience.joining,
             end_date: experience.ending,
             description: experience.description
  %>
</div>