
<div class="mt-8 text-gray-500">
  <%= render 'shared/profile/item_with_description',
             title: projects.title,
             subtitle: projects.tech,

             description: projects.description
  %>
</div>